*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
     background-color: black;
}
header{
    background-image: url(spiderman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(180deg,rgba(0,0,0,0.9), rgba(0,0,0,0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 100;
}

.logo{
    color: red;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links li a:hover{
    color: rgb(156, 142, 142);
}
main{
    color: white;
    max-width: 100%;
    transition: 0.3s ease;
}
section {
  padding: 20px;
}
img{
    max-width: 100%;
    height: auto;
    transition: 0.3s ease;
}
.images{
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    
}
img:hover{
    transform: scale(1.06);
}

.footer {
  background-color: black;
  color: white;
  padding: 50px 15%;
  font-family: Arial, sans-serif;
}

.footer-title {
  margin-bottom: 30px;
  font-size: 16px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 12px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  font-size: 14px;
}
button{
    display:hidden;
  font-size: 0rem;
}
@media (max-width: 768px) {

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background: black;
        padding: 20px;
        border-radius: 8px;
    }
    .nav-links.active {
        display: flex;
    }
      .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
button{
  display: inline-block;
  color: rgb(255, 0, 0);
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
}
@media (max-width: 480px) {
  .footer-links {
    grid-template-columns: 1fr;
  }

}

